
  .bloc-tabs {
    display: flex;
   justify-content: center;
  }
  .tabs {
    padding: 10px;
    text-align: center;
    min-width: min-content;
    width: 10%;
    background: rgba(26, 51, 211, 0.456);
    cursor: pointer;
    border-bottom: 1px solid rgba(0, 0, 0, 0.274);
    box-sizing: content-box;
    position: relative;
    outline: none;
    font-size: large;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  }
  .tabs:not(:last-child){
    border-right: 1px solid rgba(0, 0, 0, 0.274);
  }
  
  .active-tabs  {
      
    background: rgb(231, 152, 33);
    border-bottom: 1px solid transparent;
  }
  
  .active-tabs::before {
    content: "";
    display: block;
    position: absolute;
    top: -5px;
    left: 50%;
    transform: translateX(-50%);
    width: calc(100% + 2px);
    height: 5px;
    background: rgb(24, 54, 206);
  }
  
  
  

  .content-tabs {
    flex-grow : 1;
  }
  .tabs_content {
   text-align: center;
    background: white;
    padding: 20px;
    width: 100%;
    height: 100%;
    display: none;
  }
  .tabs_content h2 {
    padding: 0px 0 5px 0px;
  }
  .tabs_content hr {
    width: 100px;
    height: 2px;
    background: #222;
    margin-bottom: 5px;
  }
  .tabs_content p {
    width: 100%;
    height: 100%;
  }
  .active-content {
    display: block;
  }
  

#nav-collapse li NavLink:hover { 
    color: blue; 
}
#nav-collapse NavLink:hover {

    background-color: gray; 
}

#nav-collapse  li.active { 
   color:green;
    background-color: yellow; 
}
#nav-collapse  li.active NavLink {
    color: red;
}

.backgroundColor{
  background-color: #0a183d;
}


.stripe-card {
  margin: 1rem 0;

}

.card-number {
  margin-top: 2rem;

}

.card-element {
  margin: 15px auto;
  padding: 10px 12px;
  background-color: #60608757;
  border: 1px solid transparent;
  border-radius: 4px;
}

.card-element-webkit-autofill {
  background-color: #9d9a3c !important;
}




.preloader {
  color: #b1a79a;
  font-family: arial;
  overflow: hidden;
}
#building {
  display: flex;
  width: 35em;
  height: 100vh;
  margin: auto;
}
#blocks {
  margin: auto;
}
#caption {
  padding-left: 0.5em;
  margin: auto;
  font-size: 2.5em;
}
.b {
  background: #bebf8293;
  border: 0.3em solid #3560b5a0;
  width: 4.5em;
  height: 4.5em;
  border-radius: 0.5em;
  margin: 1em;
  position: relative;
  animation-duration: 1.2s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}
#b1 {
  animation-name: b1;
}
#b2 {
  animation-name: b2;
  margin-left: 7.25em;
}
#b3 {
  animation-name: b3;
  margin-top: -6em;
}
#b4 {
  animation-name: b4;
  margin-left: 7.25em;
}
@keyframes b1 {
  0% {
    left: 0em;
    transform: rotate(0deg);
  }
  50% {
    left: 6.25em;
    bottom: 0em;
    transform: rotate(90deg);
  }
  100% {
    left: 6.25em;
    bottom: -6.125em;
    transform: rotate(90deg);
  }
}
@keyframes b2 {
  50% {
    bottom: 0em;
  }
  100% {
    bottom: -6.125em;
  }
}
@keyframes b3 {
  50% {
    top: 0em;
  }
  100% {
    top: -6.125em;
  }
}
@keyframes b4 {
  0% {
    left: 0em;
    transform: rotate(0deg);
  }
  50% {
    left: -6.25em;
    top: 0em;
    transform: rotate(90deg);
  }
  100% {
    left: -6.25em;
    top: -6.125em;
    transform: rotate(90deg);
  }
}
@media(max-width: 400px) {
  #building {
    width: 100%
  }
  #caption {
    display: none;
  }
}


.supaviews {
	position: relative;
	width: 500px;
	margin: 125px 0 50px 0;
	color: #FFFFFF;
	background-color: #1C1E20;
}

.logo{
  position: absolute;
  width: 200px;
  right: -55px;
  top: -100px;
  transition: 0.2s ease-in-out;
}